version: '3'
services:
  virtuoso:
    build: 
      context: ./virtuoso
      args:
        KG_VERSION: 1.0.1
    environment:
      SPARQL_UPDATE: "true"
      DEFAULT_GRAPH: "https://w3id.org/arco"
    volumes:
      - ./virtuoso/graphs:/graphs
    ports:
      - "8891:8890"
    #restart: always
  lode:
    build: ./lode
    ports:
      - "9090:8080"
    restart: always
  httpd:
    build: ./httpd
    ports:
      - "8080:80"
    restart: always