ArCo-release/data
.DS_Store
catalog-v001.xml
ArCo-release/rdfizer/enti_schedatori.db
ArCo-release/rdfizer/identifiers
ArCo-release/rdfizer/ra-definitions
/.project
ArCo-release/rdfizer/ICCDScheda.ttl
